<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="mt-4">Log in</h2>
      <form>
        <div class="form-group mt-3">
          <label for="email">Email:</label>
          <input
            type="email"
            id="email"
            name="email"
            [(ngModel)]="email"
            required
            class="form-control custom-input"
          />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input
            type="password"
            id="password"
            name="password"
            [(ngModel)]="password"
            required
            class="form-control custom-input"
          />
        </div>
        <button (click)="login()" class="btn btn-primary mt-3">Log in</button>
      </form>
    </div>
  </div>
</div>
