/* Style the <nav> element as a navigation bar */
.nav-bar {
  background-color: #b4015b; /* Background color for the navigation bar */
  color: #fff; /* Text color */
  padding: 10px; /* Add some padding for spacing */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* Center the "Contacts App" heading */
.nav-bar h3 {
  text-align: center;
}

/* Style the navigation links */
.nav-links ul {
  list-style-type: none; /* Remove the bullet points from the list */
  padding: 0;
  display: flex; /* Display the list items in a row */
  justify-content: center; /* Center the list items horizontally */
}

.nav-links li {
  margin: 0 10px; /* Add spacing between list items */
}

.nav-links a {
  text-decoration: none; /* Remove underlines from links */
  color: #fff; /* Text color for links */
  font-weight: bold; /* Make the links bold */
}

.title-font {
  font-size: 30px;
}
